{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<img src="https://conversationallyspeaking.files.wordpress.com/2014/09/pardon-my-french-banner.jpg?w=768&h=240" alt="Logo"><br>
<br>
    <h1>Welcome to <i>Pardon My French!</i> : The Quiz App</h1>
    <br>

    <p>This app will help you practice your french at home!</p>
    <p>Here are some of the things you can do with this app:</p>

    <ul>
        <li>English to French translation quiz</li>
        <li>Your choice of level and category</li>
        <li>Set your own quiz length</li>
        <li>Share your quiz scores via email</li>
        <li>Create an account to store your highest score for future reference <i>(coming soon)</i></li>
        <li>Add new words to the questions database <i>(teachers only) (coming soon)</i></li>
    </ul>
    
<form action="/new/setup">

    <!-- Source: https://www.w3schools.com/bootstrap/bootstrap_buttons.asp -->
    <button class="btn btn-primary" style="background-color:gold; border-color: white;"><b>New Quiz</b></button>

</form>

{% endblock %}