{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<img src="/images/image.png" alt="Logo" style="width:128px;height:128px;">
    
    <h1>Welcome to the french quiz app!</h1>

    <p>This app will help you practice your french at home!</p>
    <p>Here are all the cool things that you can do with this app:</p>

    <ul>
        <li>English to French translation quiz</li>
        <li>Your choice of level and category</li>
        <li>Set your own quiz length</li>
        <li>Share your quiz scores via email <i>(coming soon)</i> </li>
        <li>Create an account to store your highest score for future reference <i>(coming soon)</i></li>
        <li>Add new words to the questions database <i>(coming soon) (teachers only)</i></li>
    </ul>
    
<form action="/new/setup">

    <!-- Source: https://www.w3schools.com/bootstrap/bootstrap_buttons.asp -->
    <button class="btn btn-primary" style="background-color:gold; border-color: white;"><b>New Quiz</b></button>

</form>

{% endblock %}