{% extends "bootstrap_layout.html" %}
{% set active_page = "instructions" %}

{% block content %}

    <h1>Game instructions</h1>

    <p>Here's what you need to know:</p>

    <ol>
        <li>Click on the "Play Game" button in the navigation bar above.</li>
        <li>Once you arrive at the game page, select your level, category and quiz length</li>
        <li>Once you have done so, click on "Start" to begin the quiz</li>
        <li>Enter your responses and click the "Submit" button at the end of the quiz</li>
    </ol>

    <p>More cool features coming soon. We'll update the page when they are ready</p>

{% endblock %}