{% extends "bootstrap_layout.html" %}
{% set active_page = "new_user" %}

{% block content %}

<h1>Choose your quiz settings:</h1>
<ul>
    <li>Level</li>
    <li>Category</li>
    <li>Length (# of questions)</li>
</ul>

<form action="/new/start" method="POST"> <!-- Doesn't work when method is POST-->

    <label>Level:</label>
    <select name="lvl" required>
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
    </select>

    <br>
    <br>

    <label>Level:</label>
    <select name="categ" required>
        <option value="animals">Level 1 - Animals</option>
        <option value="stationary">Level 1 - Stationary</option>
        <option value="cuisine">Level 2 - Cuisine</option>
        <option value="health">Level 3 - Health</option>
    </select>

    <br>
    <br>

    <label for="len"> Quiz Length (1-10):</label>
    <input type="range" id="len" name="len" min="1" max="10" value="1">
    
    <br>
    <br>

    <button class="btn btn-primary" style="background-color:gold; border-color: white;"><b>Begin Quiz</b></button>

</form>


{% endblock %}