{% extends "bootstrap_layout.html" %}
{% set active_page = "new_user" %}

{% block content %}

<h1>Here's how you did:</h1>
<ul>
    <li>Level: {{quiz_params['lvl']}}</li>
    <li>Category: {{quiz_params['categ']}}</li>
    <li>Length (# of questions): {{quiz_params['len']}}</li>
</ul>
<!-- <table style="{ border-style: 'solid' }"> -->
    <thead><td>Your Answer</td> <td>Correct Answer</td> <td>Correct?</td></thead>
    {% if feedbacks %}
        {% for feedback in feedbacks %}
        <tr>
            <td> {{feedback['english_word']}} </td>
            <td> {{feedback['french_word']}} </td>
            <td>
                {% if feedback["correct"] %}
                    Correct
                {% else %}
                    Incorrect
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endif %}
</table>

{% endblock %}