{% extends "bootstrap_layout.html" %}
{% set active_page = "new_user" %}

{% block content %}

<h1>Result</h1>
<br>
<h3>Here's how you did:</h3>
<br>

<ul>
    <li>Level: {{quiz_params['lvl']}}</li>
    <li>Category: {{quiz_params['categ']}}</li>
    <li>Length (# of questions): {{quiz_params['len']}}</li>
</ul>
<hr>
<table style="width: 50%;">
        <thead>
            <td><b>#</b></td>
            <td><b>Your Answer</b></td> 
            <td><b>Correct Answer</b></td> 
            <td><b>Correct?</b></td>
        </thead>
    {% if feedbacks %}
        {% for feedback in feedbacks %}
        <tr>
            <td> {{feedback['number']}}. </td>
            <td> {{feedback['user_response']}} </td>
            <td> {{feedback['french_word']}} </td>
            <td>
                {% if feedback["correct"] %}
                    <label style = "color:green;"> ✅ Correct</label>
                {% else %}
                    <label style = "color:red;"> ❌ Incorrect</label>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
<br>
<br>

<label style = "color:deepskyblue ; font-size: x-large;"> 
    You scored a total of: <b>{{score_count}}</b> out of {{quiz_params['len']}} ({{percent_score}}%)
</label>
<br>
<label style = "color:deepskyblue;"> 
    <i>Remarks: {{comment}}</i>
</label>
<br>
<br>

<form action="/new/quiz_completed" method="POST"> <!-- Doesn't work when method is POST-->

    <label>Your name:</label>
    <input type="text" name="name" placeholder="Your name">
    <br>
    <label>Send quiz result to:</label>
    <input type="email" name="email_address" placeholder="id@example.com">
    <br>

    <input type="hidden" name="quiz_length" value="{{quiz_params['len']}}">
    <input type="hidden" name="quiz_cat" value="{{quiz_params['categ']}}">
    <input type="hidden" name="quiz_level" value="{{quiz_params['lvl']}}">
    
    <input type="hidden" name="feedbacks" value="{{feedbacks_string}}">
    <input type="hidden" name="score_count" value="{{score_count}}">
    <input type="hidden" name="percent_score" value="{{percent_score}}">
    <input type="hidden" name="comment" value="{{comment}}">

    <button>Send email</button>

</form>

<!-- SEND EMAIL TO AN EMAIL ADDRESS INPUT BY THE USER.-->


{% endblock %}