{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>Feedback and Suggestions</h1>

    <p>
        Thank you so much for checking out the app. I'd love to hear what you think about it.
        Drop your comments below and I look forward to reading your thoughts! <br>
        <br>
    </p>

    <form action="/" method="POST"> <!-- Doesn't work when method is POST-->

        <label> Full Name:</label>
        <input type="text" name="full_name" placeholder="Full Name" required>
        <br>
    
        <label>Your Comment:</label>
        <input type="text" name="comment" placeholder="Type comment here" required>
        <br>
    
        <label>Email Address:</label>
        <input type="email" name="email_id" placeholder="id@example.com"  required>
        <br>
    
        <button>Submit</button>
    
    </form>
    <br>
    <br>
   
    <form action="/">

        <!-- Source: https://www.w3schools.com/bootstrap/bootstrap_buttons.asp -->
        <button class="btn btn-primary" style="background-color: deepskyblue; border-color: white;">
            Return to Home Page</button>
    
    </form>

{% endblock %}